.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  color: rgb(235, 111, 111);
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}
