.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%;

}

.title{
    font-size:1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.listwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.listbox{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    border:1px solid black;
    padding:7px;
}

.listbox:hover{
    background-color: rgb(240, 240, 240);
}